{{> head }} {{!-- Uso del parcial head.hbs --}}


{{> navbar }}{{!-- Uso del parcial navbar.hbs --}}



    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre }}!</h1>  <!-- Se llama al capitalizar de helper.js con el parametro 'nombre' de sever.js   -->
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>



{{> footer }}{{!-- uso del parcial footer.hbs --}}

{{!-- Fernando poLos - {{ anio1 }}   SOLO CON EXPRESS--}} 